.menu_page {
    min-width: 350px;
    background-color: lightblue;
}


/* This hides the news feed before the JS kicks in */
div[id^='explorefeed_main_stream'],
div[id^='topnews_main_stream'],
div.ticker_stream,
div.ego_column,
#pagelet_home_stream,
#pagelet_trending_tags_and_topics,
#stories_pagelet_rhc,
#fb_stories_card_root,
#pagelet_games_rhc,
#pagelet_canvas_nav_content {
    opacity: 0 !important;
    pointer-events: none !important;
}